In [1]:
#importing dependencies
import pandas as pd
import csv
from sqlalchemy import create_engine

In [2]:
# create a reference to the csv and import into pandas dataframe
csv_path = (r"C:\Users\abrow\Desktop\EMERSON_BOOTCAMP\BOOTCAMP_AMB\Project 2\Project-2-ETL\DataSets\all_games.csv")
all_games_df = pd.read_csv(csv_path)

In [3]:
# Displaying the CSV
all_games_df.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,29-Apr-08,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,8-Sep-99,"This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,29-Apr-08,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [4]:
#finding all the different platforms that are listed in the data set. Separate dataframes for each one will be used to make importing data to SQL easier
unique = all_games_df["platform"].unique()
unique

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

In [5]:
#getting the data types for each column
all_games_df.dtypes

name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [6]:
#converting release_date to datetime from object
all_games_df['release_date']=pd.to_datetime(all_games_df['release_date'], infer_datetime_format=True)

In [7]:
#verifying that data type has changed
all_games_df.dtypes

name                    object
platform                object
release_date    datetime64[ns]
summary                 object
meta_score               int64
user_review             object
dtype: object

In [8]:
# extracting year from 'release_date and moving it to it's own column for joining with other dataframes in 
all_games_df["Year"]=pd.DatetimeIndex(all_games_df['release_date']).year

In [9]:
#verifying that the new column was created and properly displays the data
all_games_df.head()

,name,platform,release_date,summary,meta_score,user_review,Year
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,1998-11-23,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1,1998
1,Tony Hawk's Pro Skater 2,PlayStation,2000-09-20,As most major publishers' development efforts ...,98,7.4,2000
2,Grand Theft Auto IV,PlayStation 3,2008-04-29,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7,2008
3,SoulCalibur,Dreamcast,1999-09-08,"This is a tale of souls and swords, transcendi...",98,8.4,1999
4,Grand Theft Auto IV,Xbox 360,2008-04-29,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9,2008

In [10]:
all_games_df.columns = ['name', 'platform', 'release_date', 'summary', 'meta_score', 'user_review', 'Year']

In [11]:
#grouping by platform
Nintendo64_df = all_games_df.loc[all_games_df["platform"] == "Nintendo 64"]
Nintendo64_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [12]:
PlayStation_df =all_games_df.loc[all_games_df["platform"] == "PlayStation"]
PlayStation_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [13]:
PS3_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 3"]
PS3_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [14]:
Dreamcast_df =all_games_df.loc[all_games_df["platform"] == "Dreamcast"]
Dreamcast_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [15]:
Xbox_360_df =all_games_df.loc[all_games_df["platform"] == "Xbox 360"]
Xbox_360_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [16]:
Wii_df =all_games_df.loc[all_games_df["platform"] == "Wii"]
Wii_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [17]:
Xbox_One_df =all_games_df.loc[all_games_df["platform"] == "Xbox One"]
Xbox_One_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [18]:
PC_df =all_games_df.loc[all_games_df["platform"] == "PC"]
PC_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [19]:
Switch_df =all_games_df.loc[all_games_df["platform"] == "Switch"]
Switch_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [20]:
PS2_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 2"]
PS2_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [21]:
PS4_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 4"]
PS4_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [22]:
GameCube_df =all_games_df.loc[all_games_df["platform"] == "GameCube"]
GameCube_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [23]:
Xbox_df =all_games_df.loc[all_games_df["platform"] == "Xbox"]
Xbox_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [24]:
Wii_U_df =all_games_df.loc[all_games_df["platform"] == "Wii U"]
Wii_U_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [25]:
GameBoy_Advance_df =all_games_df.loc[all_games_df["platform"] == "GameBoy Advance"]
GameBoy_Advance_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [26]:
DS3_df =all_games_df.loc[all_games_df["platform"] == "3DS"]
DS3_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [27]:
Xbox_SeriesX_df =all_games_df.loc[all_games_df["platform"] == "Xbox Series X"]
Xbox_SeriesX_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [28]:
DS_df =all_games_df.loc[all_games_df["platform"] == "DS"]
DS_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [29]:
PlayStation_Vita_df =all_games_df.loc[all_games_df["platform"] == "PlayStation Vita"]
PlayStation_Vita_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [30]:
PS5_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 5"]
PS5_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [31]:
PSP_df =all_games_df.loc[all_games_df["platform"] == "PSP"]
PSP_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [32]:
Stadia_df =all_games_df.loc[all_games_df["platform"] == "Stadia"]
Stadia_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [ ]:
rds_connection_string = "postgres:93AImm!2020@localhost:5432/all_games_df"
engine = create_engine(f'postgresql://{rds_connection_string}')