In [1]:
import pandas as pd
import csv
from sqlalchemy import create_engine

In [2]:
# create a reference to the csv and import into pandas dataframe
csv_path = (r"C:\\Users\\abrow\\Desktop\\EMERSON_BOOTCAMP\\BOOTCAMP_AMB\\Project 2\\Project-2-ETL\\DataSets\PS4_GamesSales.csv")
ps4_games_df = pd.read_csv(csv_path)

In [3]:
# displaying the dataframe
ps4_games_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [4]:
#finding the data type for the year column, because why the heck are the years ending in a decimal? TF
ps4_games_df.dtypes

Game              object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
dtype: object

In [5]:
# Changing data type from "year" from float to numeric
ps4_games_df

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [6]:
ps4_games_df['Platform'] = 'PlayStation 4'

In [18]:
ps4_games_df.columns = ['game', 'release_year', 'Genre', 'Publisher', 'North America', 'Europe', 'Japan', 'Rest of World', 'Global', 'platform']
ps4_games_df.head()

,game,release_year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,platform
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PlayStation 4
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PlayStation 4
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PlayStation 4
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PlayStation 4
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PlayStation 4

In [19]:
clean_ps4_games_df = ps4_games_df[['game', 'platform', 'release_year']]
clean_ps4_games_df.head()

                        game       platform  release_year
0         Grand Theft Auto V  PlayStation 4        2014.0
1  Call of Duty: Black Ops 3  PlayStation 4        2015.0
2      Red Dead Redemption 2  PlayStation 4        2018.0
3         Call of Duty: WWII  PlayStation 4        2017.0
4                    FIFA 18  PlayStation 4        2017.0

In [20]:
rds_connection_string = "postgres:93AImm!2020@localhost:5432/gaming_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [21]:
engine.table_names()

<ipython-input-21-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['clean_allgames', 'combined_games']

In [25]:
clean_ps4_games_df.to_sql(name='combined_games', con=engine, if_exists='append', index=False)