In [22]:
import pandas as pd
import csv
import numpy as np
from sqlalchemy import create_engine

In [23]:
# create a reference to the csv and import into pandas dataframe
csv_path = (r"C:\\Users\\abrow\\Desktop\\EMERSON_BOOTCAMP\\BOOTCAMP_AMB\\Project 2\\Project-2-ETL\\DataSets\XboxOne_GameSales.csv")
xb1_games_df = pd.read_csv(csv_path)

In [24]:
xb1_games_df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72,Xbox One
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37,Xbox One
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23,Xbox One
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77,Xbox One
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43,Xbox One

In [25]:
# finding what types of data each column is stored as... gotta get rid of the pesky .0 after the "year"
xb1_games_df.dtypes

Pos                int64
Game              object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
Platform          object
dtype: object

In [26]:
# Using pd.numeric to convert "Year" to numeric from float64
xb1_games_df["Year"].astype('int', errors='ignore')

0      2014.0
1      2015.0
2      2017.0
3      2018.0
4      2014.0
        ...
608    2018.0
609    2019.0
610    2017.0
611    2017.0
612    2019.0
Name: Year, Length: 613, dtype: float64

In [27]:
# verfiying column data type change
xb1_games_df['Year'].dtype

dtype('float64')

In [30]:
xb1_games_df = xb1_games_df[['Game', 'Platform', 'Year']]
xb1_games_df.head()

                        Game  Platform    Year
0         Grand Theft Auto V  Xbox One  2014.0
1  Call of Duty: Black Ops 3  Xbox One  2015.0
2         Call of Duty: WWII  Xbox One  2017.0
3      Red Dead Redemption 2  Xbox One  2018.0
4                  MineCraft  Xbox One  2014.0

In [32]:
xb1_games_df.columns = ['game', 'platform', 'release_year']
xb1_games_df.head()

                        game  platform  release_year
0         Grand Theft Auto V  Xbox One        2014.0
1  Call of Duty: Black Ops 3  Xbox One        2015.0
2         Call of Duty: WWII  Xbox One        2017.0
3      Red Dead Redemption 2  Xbox One        2018.0
4                  MineCraft  Xbox One        2014.0

In [34]:
rds_connection_string = "postgres:93AImm!2020@localhost:5432/gaming_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [35]:
engine.table_names()

<ipython-input-35-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['clean_allgames', 'combined_games']

In [36]:
xb1_games_df.to_sql(name='combined_games', con=engine, if_exists='append', index=False)