In [60]:
#importing dependencies
import pandas as pd
import csv
from sqlalchemy import create_engine

In [61]:
# create a reference to the csv and import into pandas dataframe
csv_path = (r"C:\Users\abrow\Desktop\EMERSON_BOOTCAMP\BOOTCAMP_AMB\Project 2\Project-2-ETL\DataSets\all_games.csv")
all_games_df = pd.read_csv(csv_path)

In [62]:
# Displaying the CSV
all_games_df.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,29-Apr-08,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,8-Sep-99,"This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,29-Apr-08,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [63]:
#finding all the different platforms that are listed in the data set. Separate dataframes for each one will be used to make importing data to SQL easier
unique = all_games_df["platform"].unique()
unique

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

In [64]:
#getting the data types for each column
all_games_df.dtypes

name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [65]:
#converting release_date to datetime from object
all_games_df['release_date']=pd.to_datetime(all_games_df['release_date'], infer_datetime_format=True)

In [66]:
#verifying that data type has changed
all_games_df.dtypes

name                    object
platform                object
release_date    datetime64[ns]
summary                 object
meta_score               int64
user_review             object
dtype: object

In [67]:
# extracting year from 'release_date and moving it to it's own column for joining with other dataframes in 
all_games_df["Year"]=pd.DatetimeIndex(all_games_df['release_date']).year

In [68]:
#verifying that the new column was created and properly displays the data
all_games_df.head()

,name,platform,release_date,summary,meta_score,user_review,Year
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,1998-11-23,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1,1998
1,Tony Hawk's Pro Skater 2,PlayStation,2000-09-20,As most major publishers' development efforts ...,98,7.4,2000
2,Grand Theft Auto IV,PlayStation 3,2008-04-29,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7,2008
3,SoulCalibur,Dreamcast,1999-09-08,"This is a tale of souls and swords, transcendi...",98,8.4,1999
4,Grand Theft Auto IV,Xbox 360,2008-04-29,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9,2008

In [69]:
all_games_df.columns = ['name', 'platform', 'release_date', 'summary', 'meta_score', 'user_review', 'Year']

In [71]:
#grouping by platform
Nintendo64_df = all_games_df.loc[all_games_df["platform"] == "Nintendo 64"]
Nintendo64_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [72]:
PlayStation_df =all_games_df.loc[all_games_df["platform"] == "PlayStation"]
PlayStation_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [73]:
PS3_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 3"]
PS3_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [34]:
Dreamcast_df =all_games_df.loc[all_games_df["platform"] == "Dreamcast"]
Dreamcast_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [35]:
Xbox_360_df =all_games_df.loc[all_games_df["platform"] == "Xbox 360"]
Xbox_360_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [36]:
Wii_df =all_games_df.loc[all_games_df["platform"] == "Wii"]
Wii_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [37]:
Xbox_One_df =all_games_df.loc[all_games_df["platform"] == "Xbox One"]
Xbox_One_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [38]:
PC_df =all_games_df.loc[all_games_df["platform"] == "PC"]
PC_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [39]:
Switch_df =all_games_df.loc[all_games_df["platform"] == "Switch"]
Switch_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [40]:
PS2_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 2"]
PS2_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [41]:
PS4_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 4"]
PS4_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [42]:
GameCube_df =all_games_df.loc[all_games_df["platform"] == "GameCube"]
GameCube_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [43]:
Xbox_df =all_games_df.loc[all_games_df["platform"] == "Xbox"]
Xbox_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [44]:
Wii_U_df =all_games_df.loc[all_games_df["platform"] == "Wii U"]
Wii_U_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [45]:
GameBoy_Advance_df =all_games_df.loc[all_games_df["platform"] == "GameBoy Advance"]
GameBoy_Advance_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [49]:
DS3_df =all_games_df.loc[all_games_df["platform"] == "3DS"]
DS3_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [50]:
Xbox_SeriesX_df =all_games_df.loc[all_games_df["platform"] == "Xbox Series X"]
Xbox_SeriesX_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [51]:
DS_df =all_games_df.loc[all_games_df["platform"] == "DS"]
DS_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [52]:
PlayStation_Vita_df =all_games_df.loc[all_games_df["platform"] == "PlayStation Vita"]
PlayStation_Vita_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [53]:
PS5_df =all_games_df.loc[all_games_df["platform"] == "PlayStation 5"]
PS5_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [54]:
PSP_df =all_games_df.loc[all_games_df["platform"] == "PSP"]
PSP_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [55]:
Stadia_df =all_games_df.loc[all_games_df["platform"] == "Stadia"]
Stadia_df

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review, Year]
Index: []

In [75]:
rds_connection_string = "postgres:93AImm!2020@localhost:5432/all_games_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [58]:
#Exporting files as CSVs
Nintendo64_df.to_csv('Nintendo64_df.csv' index=False, header=True)
PlayStation_df.to_csv("Output/PlayStation_df.csv" index=False, header=True)
PS3_df.to_csv("Output/PS3_df.csv" index=False, header=True)
Dreamcast_df.to_csv("Output/.Dreamcast_dfcsv" index=False, header=True)
Xbox_360_df.to_csv("Output/Xbox_360_df.csv" index=False, header=True)
Wii_df.to_csv("Output/Wii_df.csv" index=False, header=True)
Xbox_One_df.to_csv("Output/Xbox_One_df.csv" index=False, header=True)
PC_df.to_csv("Output/PC_df.csv" index=False, header=True)
Switch_df.to_csv("Output/Switch_df.csv" index=False, header=True)
PS2_df.to_csv("Output/PS2_df.csv" index=False, header=True)
PS4_df.to_csv("Output/PS4_df.csv" index=False, header=True)
GameCube_df.to_csv("Output/GameCube_df.csv" index=False, header=True)
Xbox_df.to_csv("Output/Xbox_df.csv" index=False, header=True)
Wii_U_df.to_csv("Output/Wii_U_df.csv" index=False, header=True)
GameBoy_Advance_df.to_csv("Output/GameBoy_Advance_df.csv" index=False, header=True)
DS3_df.to_csv("Output/3DS_df.csv" index=False, header=True)
Xbox_SeriesX_df.to_csv("Output/Xbox_SeriesX_df.csv" index=False, header=True)
DS_df.to_csv("Output/DS_df.csv" index=False, header=True)
PlayStation_Vita_df.to_csv("Output/PlayStation_Vita_df.csv" index=False, header=True)
PS5_df.to_csv("Output/PS5_df.csv" index=False, header=True)
PSP_df.to_csv("Output/PSP_df.csv" index=False, header=True)
Stadia_df.to_csv("Output/Stadia_df.csv" index=False, header=True)

SyntaxError: invalid syntax (<ipython-input-58-3e7fbfac6fe3>, line 2)